*{
    margin: 0;
    padding: 0;
}
.box{
    display: grid;
    row-gap: 50px;
    column-gap: 50px;
    grid-template-columns: 20% 20% 20% ;
    height: 100vh;
    width: 100vw;
    background-color: cornflowerblue;
}
.box > div{
    height: 100px;
    width: 100px;
    background-color: aqua;
}
.stain1{
    grid-row-start: 1;
    grid-row-end: 4;
}
h1{
    background-color: grey;
}
h1:hover{
    background-color: red;
    cursor: pointer;
}
h1:active{
    background-color: pink;
}